{% extends 'enroll/base2.html' %}
{% block content %}
<style>
  .form-group{
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 10px;
  }
  h2{
    background-color: #343a40;
    border: 1px solid hsl(160, 91%, 9%);
    color: white;
  }

  h4{
    background-color: #28A745;
    border: 1px solid hsl(160, 91%, 9%);
    color: white;
  }
</style>
<div class="row">
    <div class="container mt-5">
      <h2 class="text-center alert">INVOICE GENERATOR</h2>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  
  
  </style>
<div class="row">
 <div class="col-sm-4">
  <h4 class="text-center alert ">Line Item Information</h4>
  <form action="" method="POST">
   {% csrf_token %}
   <div class="form-group">
    <label>Item Code   رمز الصنف</label>
    {{worm.item_code}}
    <label>Item Name   اسم العنصر</label>
    {{worm.item_name}}
    <label>Pack   رزمة</label>
    {{worm.pack}}
    <label>Quantity   كمية</label>
    {{worm.quantity}}
    <label>Unit Price   سعر الوحدة</label>
    {{worm.unit_price}}
    <label>Taxable Amount   المبلغ الخاضع للضريبة</label>
    {{worm.taxable_amount}}
    <label>Discount   تخفيض</label>
    {{worm.discount}}
    <label>Tax Rate   معدل الضريبة</label>
    {{worm.tax_rate}}
    <label>Tax Amount   قيمة الضريبة</label>
    {{worm.tax_amount}}
    <label>Item Subtotal Including VAT   إجمالي البند بما في ذلك ضريبة القيمة المضافة</label>
    {{worm.item_sub_total_including_vat}}
    </div>
   <input type="submit" class="btn btn-success" value="Add Item">
   <a href="{% url 'calculations' invoice_data.invoice_id %}"><input type="button" class="btn btn-success" value="Go To Calculate"></a>
   <!-- <a href="{% url 'generate_qr' invoice_data.invoice_id %}"><input type="button" class="btn btn-success" value="Generate QR"></a> -->
  </form>
  <br>
  
 </div>
 <div class="col-sm-8">
  {% if line_items_data %}
  <h4 class="text-center alert">Your Line Items</h4>
  <div style= "white-space: nowrap; overflow-x: scroll; overflow-y: scroll;">
  <table class="table table-hover" >
    <tr>
      <th scope="row" colspan="12">Line Items</th>
      <th scope="row" colspan="12">البنود</th>
    </tr>
    <tr>
      <th>Invoice Number</th>
      <th>Item ID</th>
        <th>Item Code   رمز الصنف</th>
        <th>Item Name   اسم العنصر</th>
        <th>Pack   رزمة</th>
        <th>Quantity   كمية</th>
        <th>Unit Price   سعر الوحدة</th>
        <th>Taxable Amount   المبلغ الخاضع للضريبة</th>
        <th>Discount   تخفيض</th>
        <th>Tax Rate   معدل الضريبة</th>
        <th>Tax Amount   قيمة الضريبة</th>
        <th>Item Subtotal Including VAT   إجمالي البند بما في ذلك ضريبة القيمة المضافة</th>
        <th>Total Excluding VAT   الإجمالي باستثناء ضريبة القيمة المضافة</th>
        <th>Total Discount   إجمالي الخصم</th>
        <th>Total Taxable Amount Excluding VAT   إجمالي المبلغ الخاضع للضريبة  باستثناء الضريبة على القيمة المضافة</th>
        <th>Net Excluding VAT   صافي باستثناء ضريبة القيمة المضافة</th>
        <th>Total VAT 15%   إجمالي ضريبة القيمة المضافة 15٪</th>
        <th>Net Amount   كمية الشبكة</th>
        <th>Excess Amount + VAT   المبلغ الزائد + ضريبة القيمة المضافة</th>
        <th>Deprecation Amount + VAT   مبلغ الإيقاف + ضريبة القيمة المضافة</th>
        <th>Total Amount Due   إجمالي المبلغ المستحق</th>
        <th>Remarks   ملاحظات</th>
        <th scope="row" colspan="2">Actions   أجراءات</th>
      </tr>
      {% for lii in line_items_data %}
      <tr>
        <td>{{lii.invoice}}</td>
        <td>{{lii.item_id}}</td>
        <td>{{lii.item_code}}</td>
        <td>{{lii.item_name}}</td>
        <td>{{lii.pack}}</td>
        <td>{{lii.quantity}}</td>
        <td>{{lii.unit_price}}</td>
        <td>{{lii.taxable_amount}}</td>
        <td>{{lii.discount}}</td>
        <td>{{lii.tax_rate}}</td>
        <td>{{lii.tax_amount}}</td>
        <td>{{lii.item_sub_total_including_vat}}</td>
        <td><a href="{% url 'updatedata' line_items_data2.item_id %}"><input type="button" class="btn btn-info" value="Edit" disabled></a></td>
          <td><form action="{% url 'deletedata' line_items_data2.item_id %}" method="post" class="d-inline" >
            {% csrf_token %}
          <input type="submit" class="btn btn-danger" value="Remove" disabled>
        </form>  
        </td>
      </tr>
      {% endfor %}
  </table>  
</div>
  {% else %}
   <h4 class="text-center alert alert-primary">You don't have added any line item yet!</h4>
  {% endif %}
</div>
</div>
{% endblock content %}
